<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::section})}"
>
  <head th:include="fragments/layout :: headerFragment">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title th:text="${pageTitle}">Default Title</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
      }
      table {
        width: 100%; /* Ensure table takes full width */
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      tr:hover {
        background-color: #f1f1f1; /* Optional hover effect */
      }
    </style>
  </head>

  <body>
    <section>
      <!-- <h1>Point Table</h1> -->
      <div class="container mt-2">
        <div class="bg-secondary bg-gradient m-0 p-3">
          <h4 class="text-warning justify-content-center text-center mb-2" th:text="${seriesName}"></h4>
        </div>

        <div class="row justify-content-center m-0">
          <div class="card card-body my-2 py-1 d-flex">
            <div class="row my-1 mx - 2">
              <h5 class="col-4">TEAM</h5>
              <h5 class="col-1 text-center">MAT</h5>
              <h5 class="col-1 text-center">WON</h5>
              <h5 class="col-1 text-center">LOST</h5>
              <h5 class="col-1 text-center">TIED</h5>
              <h5 class="col-1 text-center">PTs</h5>
              <h5 class="col-1 text-center">NRR</h5>
            </div>
            <div
            th:if="${pointTable.size() == 0}"
            class="text-center text-danger"
            >
            <hr />
              <h4>No point table for this series</h4>
            </div>
            <div th:if="${pointTable != null}">
              <div th:each="point:${pointTable}">
                <hr />
                <div class="row m-0 p-0">
                  <p class="col-4 m-0" th:text="${point.get(0)}"></p>
                  <p class="col-1 text-center m-0" th:text="${point.get(1)}"></p>
                  <p class="col-1 text-center m-0" th:text="${point.get(2)}"></p>
                  <p class="col-1 text-center m-0" th:text="${point.get(3)}"></p>
                  <p class="col-1 text-center m-0" th:text="${point.get(4)}"></p>
                  <p class="col-1 text-center m-0 " th:text="${point.get(6)}"></p>
                  <p class="col-1 text-center m-0" th:text="${point.get(7)}"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
