<div th:fragment="footer">
    <div>
        <h4 class="text-center">
            Footer &copy by Kaushal
        </h4>
        <div class="card text-center">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Think and change me</h5>
                <p class="card-text">© 2024 cricinfo, is just web-app for fun</p>
                <p class="card-text">Phone: (123) 456-7890</p>
                <p class="card-text">Email: info@yourcompany.com</p>
                
                <a href="/" class="btn btn-primary">Home</a>
            </div>
            <div class="card-footer text-body-secondary">
                2 days ago
            </div>
        </div>
    </div>
</div>