<div th:fragment="footer">
  <div>
    <div>
      <h4 class="text-center">&copy by Kaushal</h4>
      <div class="card text-center">
        <div class="card-header">CricInfo</div>
        <div class="card-body">
          <h5 class="card-title">Cric-Info web app</h5>
          <p class="card-text">© 2024 cricinfo, is just web-app for fun</p>
          <p class="card-text">Phone: (977) 277-4141</p>
          <p class="card-text">Email: prajapatkaushal555@gmail.com</p>

          <a href="/" class="btn btn-primary-outline">Home</a>
        </div>
        <div class="card-footer text-body-secondary">
          <a
            href="https://www.linkedin.com/in/kaushal-prajapat-b86b231a9/"
            target="_blank"
            class="mx-3 link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            ><ion-icon name="globe-outline"></ion-icon> Linkdin</a
          >
          <a
            href="https://github.com/KaushalPrajapat/cricinfo-app"
            target="_blank"
            class="mx-3 link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            ><ion-icon name="logo-github"></ion-icon> Github</a
          >
          <a
            href="https://leetcode.com/u/prajapatkaushal555/"
            target="_blank"
            class="mx-3 link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            ><ion-icon name="code-slash-outline"></ion-icon> Leetcode</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
